* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial;
  background: radial-gradient(circle at top, #120023, #020617);
  color: white;
  height: 100vh;
}

.page {
  padding: 30px 60px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links span {
  margin: 0 15px;
  color: #cbd5f5;
  cursor: pointer;
}

.login {
  background: transparent;
  border: 1px solid #555;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  margin-left: 20px;
}

.signup {
  background: linear-gradient(135deg, #a855f7, #ec4899);
  border: none;
  padding: 6px 18px;
  border-radius: 20px;
  margin-left: 10px;
  color: white;
}

/* HERO */

.hero {
  display: flex;
  margin-top: 80px;
  height: 70vh;
}

.hero-left {
  flex: 1;
  padding-right: 60px;
}

.hero-left h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero-left span {
  color: #a855f7;
}

.hero-left p {
  margin-top: 20px;
  color: #9ca3af;
  max-width: 500px;
}

.cta {
  margin-top: 30px;
  padding: 14px 36px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(135deg, #a855f7, #ec4899);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(168, 85, 247, 0.6);
}

.status {
  margin-top: 15px;
  color: #facc15;
}

/* AVATAR CARD */

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-card {
  width: 420px;
  height: 520px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 60px rgba(168, 85, 247, 0.3);
  padding: 10px;
}
